[Unit]
Description=OpenDSLRCam Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/OpenDSLRCam/app.py
WorkingDirectory=/home/pi/OpenDSLRCam
User=pi
Group=pi
Restart=always

[Install]
WantedBy=multi-user.target
